ErrorDocument 404 /404.html
RewriteEngine on

Redirect /surffreely.html /selection.html

Redirect /forums.html /forum.html
Redirect /theonesbehindthescenes.html /contributors.html
DirectoryIndex index.html index.php

RewriteCond %{ENV:https} ^true$
RewriteCond %{HTTP:X-Forwarded-Proto} !https 
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
