ErrorDocument 404 /404.html
RewriteEngine on

Redirect /surffreely.html /selection.html

Redirect /forums.html /forum.html
Redirect /theonesbehindthescenes.html /contributors.html
DirectoryIndex index.html index.php
